<h1>Listing CPR+ Issues</h1>
	<%= link_to 'Add New Issue', new_issue_path %>
	<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="3"></th>
	</tr>
	<% @issues.each do |issue| %>
	<tr>
		<td><%= issue.name %></td>
		<td><%= issue.desc %></td>
		<td><%= link_to 'Show', issue_path(issue) %></td>
		<td><%= link_to 'Edit', edit_issue_path(issue) %></td>
		<td><%= link_to 'Destroy', issue_path(issue),
			method: :delete,
			data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
	</table>
