<h4>Listing CPR+ Issues</h4>
<hr>
	<%= link_to 'New Issue', new_issue_path %>
<hr>
	<table>
	<tr>
		<th>Ticket</th>
		<th>Name</th>
    <th colspan="3">Actions</th>
	</tr>
	<% @issues.each do |issue| %>
	<tr>

    <td><%= issue.ticket %></td>
		<td><%= issue.name %></td>
		<td><%= link_to 'Show', issue_path(issue) %></td>
		<td><%= link_to 'Edit', edit_issue_path(issue) %></td>
		<td><%= link_to 'Destroy', issue_path(issue),
			method: :delete,
			data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
	</table>
