<p><strong>Title:</strong><%= @issue.name %></p>
	<p><strong>Text:</strong><%= @issue.desc %></p>
	<h2>Tasks</h2>
	<%= render @issue.tasks %>
	<h2>Add a task:</h2>
	<%= render 'tasks/form' %>
	<%= link_to 'Edit', edit_issue_path(@issue) %> |
	<%= link_to 'Back', issues_path %>
